p, h1, h2, h3 {
    margin: 0;
    line-height: 120%;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-image: url(../Introduce/background.jpg);
    width: 100vw;
    height: 100vh;
}

.book {
    background-image: url(../Introduce/book.png);
    width: 900px;
    height: 650px;
    position: relative;
    display: flex;
}

.profile-img {
    position: absolute;
    top: 70px;
    left: 120px;
    border-radius: 100%;
    width: 150px;
}

.name-box {
    position: absolute;
    top: 70px;
    left: 280px;
    width: 550px;
    height: 140px;
    font-family: 'garam-flower';
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
}

.content {
    background: lightblue;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 220px;
    left: 130px;
    font-family: 'garam-flower';
}

.intro {
    background: lemonchiffon;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 220px;
    left: 500px;
    font-family: 'garam-flower';
}




@font-face { 
    font-family: "garam-flower";
    src: url("../garam-flower.ttf") format("truetype");
    font-weight: normal;
} 

